<div class="jumbotron">
    <div class="container hero-body">
      <div class="row">
  
        <div class="col-md-4"></div>
  
        <div class="col-md-4 border" style="top: 10px;">
          <form #loginForm="ngForm" (ngSubmit)="logIn(loginForm)">
              <legend>LogIn Page</legend>
          
              <div class="form-group">
                <label for="email">Email Address</label>
                <input ngModel type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter Email Address">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>
            
              <div class="form-group">
                <label for="password">Password</label>
                <input ngModel type="password" class="form-control" id="password" name="password" placeholder="Enter Password">
              </div>
              
              <div class="form-group"><button type="submit" class="btn btn-primary" (click)="GoToClock()">Log In</button></div>
              <div><button type="submit" class="btn btn-danger">Reset Password</button></div>
              <div><span class="label label-danger">{{message}}</span></div>
                
              
            
          </form>
        </div>
      </div>
    </div>
  </div>